body {
	background-color: black;
	overflow: auto;
}

h1, h2, h3, h4, h5, ul, ol, button {
	font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
	text-transform: uppercase;
	font: bold 60px 'Open Sans Condensed', sans-serif;
	color: #FFF;
	margin: 25px auto;
}
h2 {
	font-size: 24px;
	float: none;
	font-weight: bold;
}
h3 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}
.callout {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}
p {
	font: normal 18px 'PT Serif', serif;
	line-height: 28px;
	color: #FFF;
}
ol li {
	font-family: "PT Serif", serif;
	list-style-type: decimal;
}

article {
	width: 100%;
	height: 600px;
	background-size: cover;
	background-position: center;
}

#intro {
	width: 100%;
	text-align: center;
}

#intro img {
	margin-top: 100px;
}

#intro p {
	text-align: left;
	width: 70%;
	font: normal 18px 'PT Serif', serif;
	line-height: 28px;
	color: white;
	margin: 25px auto;
}

button.keep img {
	vertical-align: baseline;
}

button.dump img {
	vertical-align: unset;
	position: relative;
	top: 8px;
}

#taboola-interactive_pages-3x3 div a span,
#taboola-interactive_pages-3x3 a,
#taboola-interactive_pages-3x3 div,
#taboola-interactive_pages-3x3 span {
	color: #fff!important;
}
/*
.thumbnails-b .logoDiv a span,
.thumbnails-b .syndicatedItem .video-title,
.thumbnails-b .trc_rbox_header,
.thumbnails-b .syndicatedItem .branding,
.videoCube a */


/* ---------- SHARE ICON CSS ----------- */
a {
	text-decoration: none;
	color: white;
}

#ra-share-top {
	width: 100%;
	margin-bottom: 20px;
}
.ra-share, .rt-share {
	position: relative;
}
#ra-share-top li {
	display: inline-block;
}
.ra-share li, .ra-share dd, .rt-share li, .rt-share dd {
	color: white;
	margin-right: 20px;
}
.ra-share-e a, .rt-share-e a,
.ra-share-f a, .rt-share-f a,
.ra-share-t a, .rt-share-t a {
	position: relative;
	z-index: 1;
	box-sizing: border-box;
}
.ra-share-f, .rt-share-f {
	background: #D7D7D7;
}
.ra-share-t, .rt-share-t {
	background: #D7D7D7;
}
.ra-share-e, .rt-share-e {
	background: #D7D7D7;
}
.ra-share-f:after, .rt-share-f:after {
	content: "\e741";
}
.ra-share-t:after, .rt-share-t:after {
	content: "\e74b";
}
.ra-share-e:after, .rt-share-e:after {
	content: "\e75a";
}
.ra-share a, .rt-share a {
	display: block;
	font-size: 0;
	height: 100%;
	cursor: pointer;
}
.ra-share-f, .rt-share-f, .ra-share-t, .rt-share-t, .ra-share-e, .rt-share-e, .ra-share-p, .rt-share-p, .ra-share-i, .rt-share-i {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}
.ra-share li:after, .ra-share dd:after, .rt-share li:after, .rt-share dd:after {
	font-size: 16px;
	color: black;
	cursor: pointer;
}
.ra-share-f:after, .rt-share-f:after, .ra-share-t:after, .rt-share-t:after, .ra-share-e:after, .rt-share-e:after, .ra-share-p:after, .rt-share-p:after, .ra-share-i:after, .rt-share-i:after {
	font: 16px "themify";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}


/*------------------------------------*/


.section{
	text-transform: uppercase;
	color:	#D7D7D7;
	margin-bottom: 10px;
	line-height: 34px; 
}

#players{
	font-family: "Open Sans Condensed", sans-serif;
}


/*#players img {
	margin: auto;
	vertical-align: middle;
}*/

.panel {
	background: rgba(0,0,0,.6);
	padding: 0;
	top: -105px;
	margin-left: auto;
	margin-right: auto;
}

.aplayer{
	height: 0px;
}
.name{
	font: bold 18px 'Open Sans Condensed', sans-serif;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin: 5px 0;
	padding: 12px 0 12px 12px;
}

p.name span {
	display: block;
	font-size: 14px;
}

.button.radius {
	text-transform: uppercase;
	font: bold 19px 'Open Sans Condensed', sans-serif;
	border: none;
	border-radius: 0;
	width: 145px;
}

.button.keep, .button.keep:focus{
	background-color: #0B9993;
}

.button.keep:active{
	background-color: #717375;
}

.button.dump, .button.dump:focus{
	background-color: #EE3958;
}

.button.dump:active{
	background-color: #717375;
	}
	
.social{
	display: none;
	width: 64px;
	position: absolute;
	left: 115px;
	top: 300px;
}

.facebook{
	background-image: url('../img/keepem_sprite.png');
	background-repeat: no-repeat;
	background-position: 2px -31px;
	width: 32px;
	height: 32px;
	float: left;
/*	 margin-right: 11px; */
	cursor: pointer;
}

.facebook:hover{
	background-position: 2px 4px;
}

.twitter{
	background-image: url('../img/keepem_sprite.png');
	background-repeat: no-repeat;
	background-position: -30px -31px;
	width: 32px;
	height: 32px;
	float: left;
	cursor: pointer;
}

.twitter:hover{
	background-position: -30px 4px;
}

.panel.results {
	margin: 0;
  	display: flex;
  	justify-content: center;
	font: normal 13px 'Open Sans', sans-serif;
	text-transform: uppercase;
	display: none;
	width: 100%;
	height: 372px;
	top: -372px;
}

.results-image {
	border: solid 1px #808080;
}

.results-chart {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(100, 1fr);
	grid-column-gap: 10px;
	height: 60%;
	width: 40%;
	position: relative;
	top: 10%;
	margin: auto;
}

.keep-bar {
	grid-row-start: 100;
	grid-row-end: -100;
	background-color: #0B9993;
}

.dump-bar {
	grid-row-start: 100;
	grid-row-end: -100;
	background-color: #EE3958;
}

.results-name {
	text-align: center;
	font: bold 18px 'Open Sans Condensed', sans-serif;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 45px;
}

.result_num {
	position: relative;
	text-align: center;
	font: bold 20px 'Open Sans Condensed', sans-serif;
}

div.keep, span.keep {
	background-image: url('../img/keepem_sprite.png');
	background-repeat: no-repeat;
	background-position: -8px -86px;
	padding-left: 16px;
}

div.dump, span.dump {
	background-image: url('../img/keepem_sprite.png');
	background-repeat: no-repeat;
	background-position: -8px -73px;
	padding-left: 16px;
}

.dumped {
	height: 380px;
    background: url(../img/dumped.png);
    position: relative;
    margin-top: -380px;
    margin-bottom: 50px;
}

.dumped p.name {
	position: relative;
	top: 215px;
	text-align: center;
	padding: 0;
	margin: 0;
}

.clear{
	cursor: pointer;
	z-index: 5000;
	position: relative;
	top: 60px;
	font-size: 16px;
	color: #999999;
}

.clear:hover{
	color: #e0e0e0;
}

.box_ad{
	background-color: #ffffff;
}

.stuck {
	position:fixed;
	top:0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 10px 12px -9px rgba(0,0,0,0.14);
	z-index: 100000;
}

#credits{
	padding-bottom:11px;
	font-size:11px;
	color:#999;
	font-family:Arial;
	font-weight:400;
}

.left { float: left; }
.right{ float: right; }

/*================== HANDHELD & TABLET STYLES =================*/

@media only screen and (min-width: 250px) and (max-width: 727px) {
	h1 {
		font-size: 55px;
		line-height: 60px;
		margin-bottom: 10px;
	}

	#intro p {
		width: 90%;
		font-size: 16px;
		line-height: 26px;
		margin-top: 0;
	}

	.button.radius {
		width: 49%;
	}
}

@media only screen and (min-width: 728px) and (max-width: 1100px) {
	.section {
		margin: 15px auto;
		text-align: center;
	}

	h2 {
		font-size: 30px;
	}

	.button.radius {
		width: 49.5%;
	}
}
